@model IEnumerable<Category>

<h2>Category List</h2>

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}

<a asp-action="Create" class="btn btn-outline-info">Add New Category</a>

<table class="table table-striped" style="margin-block-start:10px">
    <thead>
        <tr>
            <th>ID</th>
            <th>Category Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.CategoryId</td>
                    <td>@item.CategoryName</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-secondary">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">No categories found</td>
            </tr>
        }
    </tbody>
</table>
